body {
  background-color: #f6f6f6;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}
.font-size-145 {
  font-size: 1.45rem !important;
}
.font-size-160 {
  font-size: 1.60rem !important;
}
.font-underline {
  text-decoration: underline;
}
.bg-purple {
  background-color: #c780fe !important;
}
.blog-footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  background-color: #c780fe;
  border-top: .05rem solid #c780fe;
}
.blog-footer a {
  color:#fff;
}
.btn-purple {
  color: #fff;
  background-color: #a665d8;
  border-color: #a665d8;
}
.btn-purple:hover {
  color: #fff;
  background-color: #a665d8;
  border-color: #a665d8;
}
.btn-check:focus + .btn-purple, .btn-purple:focus {
  color: #fff;
  background-color: #a665d8;
  border-color: #a665d8;
  box-shadow: 0 0 0 0.25rem #c780fe;
}
.border-btm-custom {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.custom-code {
  margin-left: 10px !important;
  margin-right: 10px !important;
  font-weight: bold !important;
}
